body {
	background: #fff;
	width: 560px;
}

.stretch {
    transform:scale(1,1.7); /* W3C */
    -webkit-transform:scale(1,1.7); /* Safari and Chrome */
    -moz-transform:scale(1,1.7); /* Firefox */
    -ms-transform:scale(1,1.7); /* IE 9 */
    -o-transform:scale(1,1.7); /* Opera */
}

#page_controls {
	width: 555px;
}

#page_controls button {
	float: left;
	margin-left: 12px;
}
#page_controls button a {
	text-decoration: none;
	color: #000;
}
#page_controls #print_pg {
	float: right;
	width: 60px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #06F;
	cursor: pointer;
	line-height: 20px;
	margin-top: 5px;
}
#page_controls #print_pg img {
}
#page_controls #print_pg p {
	display: inline;
	margin-left: 5px;
}

#artwalk_poster img {
	position: absolute;
	top: 40px;
	left: 21px;
	z-index: -1;
}

#artwalk_header {
	position: absolute;
	top: 52px;
	left: 40px;
	z-index: 10;
}

#artwalk_header p {
	text-align: center;
	margin: 0;
	font-size: 15.25px; 
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
#tagline {
	position: absolute;
	top: 600px;
	left: 40px; 
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-size: 14px;
}
	
/* Text Colors in Header */
.blue {
	color: #5abde9;
}
.gray {
	color: #968688;
	vertical-align: 3%;
}
.putty {
	color: #dee3dc;
}
.red {
	color: #ed1b24;
}
/* First Query: Media Query for any iPhone, with or without Retina */
/* Second Query: Covers some Android devices (e.g., Samsung Galaxy 2 */
@media
only screen and (min-device-width : 320px) and (max-device-width: 480px),
only screen and (-webkit-device-pixel-ratio: 2) {
#artwalk_header p {
	font-size: 9px; 
	width: 500px;
}
}

